<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Listado de jugadores</ion-title>
    <ion-buttons slot="end">
      <ion-button class="btn-logout" (click)="logout()">Logout  [<span class="logout">{{ user!=null?user.email:'' }}</span>]</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let jugador of jugadores"
      
    >
      <ion-label>
        <h2>{{ jugador.nombre }} {{ jugador.apellidos }}</h2>
        <p>Altura: {{ jugador.altura }}</p>
        <p>Peso: {{ jugador.peso }}</p>
        <p>Equipo: {{ jugador.equipo }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear" color="primary">
          <ion-icon name="share-social-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button (click)="getPicture()">
          <ion-icon  name="camera" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button [routerLink]="['/detalle', jugador.id]">
          <ion-icon  name="chevron-forward-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>