<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Listado de jugadores</ion-title>
    <ion-buttons slot="end">
      <ion-button class="btn-logout" (click)="logout()">Logout  [<span class="logout">{{ user!=null?user.email:'' }}</span>]</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">listado</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
