<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>NBA Rookie App</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="login-container">
      <ion-card class="login-card">
        <ion-card-header>
          <ion-card-title>Login</ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <!-- Formulario de Login -->
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <ion-input formControlName="email" label="Correo Electrónico" type="email"></ion-input>
            <ion-text color="danger" *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">
              El correo electrónico ingresado no es válido.
            </ion-text>
            <ion-input formControlName="password" label="Contraseña" type="password"></ion-input>
  
            <!-- Botón de login -->
            <ion-button expand="block" class="boton-ingresar" type="submit" color="success">Login</ion-button>
          </form>
  
          <ion-toast
          *ngIf="successMessage"
          color="success"
          message="{{ successMessage }}"
          duration="5000">
        </ion-toast>
        <ion-toast
          *ngIf="errorMessage"
          color="danger"
          message="{{ errorMessage }}"
          duration="5000">
        </ion-toast>
        <!-- Enlace a la pantalla principal -->
        <a class="register-link" href="/registro">¿No tienes cuenta? Registrate</a>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>

